{% extends 'components/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}

{% include 'components/menu.html' %}

    <section  class="container d-flex justify-content-center h-100 ">

        <div class="w-100">
            {% if users %}
                <div class="my-4">
                    {% for usuario in users %}
                    <div class="card bg-dark" style="border: 2px solid black;">
                        <div class="card-header">
                            <h5><a href="{% url 'user' usuario.username %}">{{usuario.username}}</a></h5>
                        </div>
                        <div class="card-body">
                            <p class="h6 card-title"></p>
                            <div class="text-right">
                                {% if user != usuario %}
                                    {% if segue == False %}
                                        <form action="{% url 'seguir' %}" method="POST">
                                            {% csrf_token %}
                                            <input type="number" name="seguidor" id="post" value="{{user.username}}" class="d-none" readonly>
                                            <input type="number" name="user" id="post" value="{{usuario.username}}" class="d-none" readonly>
                                            <button type="submit" class="btn btn-primary">Seguir usuario</button>
                                        </form>
                    
                                    {% else %}
                                        <form action="{% url 'deseguir' %}" method="POST">
                                            {% csrf_token %}
                                            <input type="number" name="seguidor" id="post" value="{{user.username}}" class="d-none" readonly>
                                            <input type="number" name="user" id="post" value="{{usuario.username}}" class="d-none" readonly>
                                            <button type="submit" class="btn btn-danger">Parar de seguir</button>
                                        </form>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <p class="card-text">{{usuario.descricao}}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            {% else %}
                <div>
                    <p>Usuario não encontrado</p>
                </div>
            {% endif %}
        </div>
    </section>

    {% block script %}
        <script>
            window.onload = logaaws();

            function logaaws(){
                AWS.config.region = 'us-west-1'; // Region
                AWS.config.credentials = new AWS.CognitoIdentityCredentials({
                    IdentityPoolId: 'AKIATXGD6EAEW6SEJD6G',
                });
            }
        </script>
    {% endblock script %}
    <!-- ##### Pagination End ##### -->

{% include 'components/footer.html' %}

{% endblock %}data/2020/10/02/Blood_Runs_Red.mp3