{% extends 'components/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}

{% include 'components/menu.html' %}

<main>
    <section class="container">
        <div class="text-center">

            {% include 'components/alertas.html' %}

            <div class="card card-black">
                <div class="card-body card-body-black">
                    {% if usuario == user %}
                        <div class="text-right">
                            <button type="button" class="btn btn-danger">Editar</button>
                        </div>
                    {% endif %}
                    <h1 class="my-3">{{usuario.username}}</h1>
                    <h4>{{usuario.first_name}} {{usuario.last_name}}</h4>
                    {% if usuario.data_de_nascimento %}
                        <p>Nascido em: {{usuario.data_de_nascimento}}</p>
                    {% endif %}
        
                    {% if usuario.audio %}
                        <audio controls>
                            <source src="{{usuario.audio.url}}" type="audio/mpeg">
                        </audio>
                    {% endif %}
        
                    {% if usuario.descricao %}
                        <p>{{usuario.descricao}}</p>
                    {% endif %}
        
                    {% if user != usuario %}
                        {% if segue == False %}
                            <form action="{% url 'seguir' %}" method="POST">
                                {% csrf_token %}
                                <input type="number" name="seguidor" id="post" value="{{user.username}}" class="d-none" readonly>
                                <input type="number" name="user" id="post" value="{{usuario.username}}" class="d-none" readonly>
                                <button type="submit" class="btn btn-primary">Seguir usuario</button>
                            </form>
        
                        {% else %}
                            <form action="{% url 'deseguir' %}" method="POST">
                                {% csrf_token %}
                                <input type="number" name="seguidor" id="post" value="{{user.username}}" class="d-none" readonly>
                                <input type="number" name="user" id="post" value="{{usuario.username}}" class="d-none" readonly>
                                <button type="submit" class="btn btn-danger">Parar de seguir</button>
                            </form>
                        {% endif %}
                    {% endif %}
        
                    <div class="d-flex justify-content-center my-3">
                        <p class="mx-3">Seguidores: {{ lensegui }}</p>
                        <p class="mx-3">Segue: {{ lensegue }}</p>
                        <p class="mx-3">Posts: {{ lenposts }}</p>
                    </div>
                    <p class="my-3">Cadastrado des de: {{ usuario.date_joined }}</p>
                    <p class="my-3">Ultimo acesso em: {{ usuario.last_login }}</p>
                </div>
            </div>
            
            <p>Posts:</p>
        </div>

        <div>
            <div class="w-100">
                {% for post in posts %}
                <div class="card my-3 card-black">
                    <div class="card-header card-header-black">
                        <div class="row">
                            <div class="col-6">
                                <p>{{post.postador}}</p>
                            </div>
                            {% if user == post.postador %}
                                <div class="col-6 text-right">
                                    <form action="{% url 'edita_post' %}" method="post">
                                        {% csrf_token %}
                                        <input type="number" value="{{post.id}}" name="post" id="post" class="d-none" readonly required>
                                        <button type="submit" class="btn btn-danger">Editar</button>
                                    </form>
                                </div>
                            {% endif %}
                        </div>
                        <a href="{% url 'post' post.id %}"><h2>{{post.titulo}}</h2></a>
                    </div>
                    <div class="card-body card-body-black text-center">
                        <p>{{post.descricao}}</p>
                        {% if post.audio != "" %}
                            <audio controls>
                                <source src="{{post.audio.url}}" type="audio/mpeg">
                            </audio>   
                        {% endif %}
                        <br><br><br>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>    
</main>

{% include 'components/footer.html' %}
{% endblock %}